

#container_1{
	background-color: rgb(104,187,285);
	padding: 40px 50px 50px 50px;
	width: 800px;
	height: 1000px;
	margin: auto;
	border: 1px solid black;
}

#header{
	background-color: #467EA0;
	width: 700px;
	height: 100px;
	margin: auto;
	border: 1px solid black;
	margin-top: 10px;
}
h1{
	color: #37383A;
	text-align: center;
	font-family: 'Russo One', sans-serif;
	padding: 20px;

}

h3{
	font-family: 'Josefin Sans', sans-serif;
	color: white;
	margin: 10px;

}
h4{
	font-family: 'Josefin Sans', sans-serif;
	color: white;
	
	
}
h5{
	font-family: 'Josefin Sans', sans-serif;
	color: white;
}

ul{
	list-style: none;
	ma
}

img{
	width: 120px;
	height: 150px;
	margin-top: 20px;
	margin-left: 10px;
}
li{
	font-size: small;
	color: white;
	font-family: 'Josefin Sans', sans-serif;
}

.bold-text{
	font-weight: bold;
}

#container{
	background-color: #467EA0;
	width: 660px;
	height: 700px;
	margin-top: 20px;
	margin-right: auto;
	margin-left: auto;
	padding: 20px;
	border: 1px solid black;
	display: flex;
	justify-content: space-around;
}

#left-box{
	background-color: rgb(9,30,45);
	width: 200px;
	/*height: 650px;
*/	margin-top: 20px;
	border: 1px solid black;
	padding-left: 8px;
	
}

#right-box{
	background-color: rgb(9,30,45);
	width: 400px;
	/*height: 650px;*/
	margin-top: 20px;
	border: 1px solid black;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}


#experinces-box{
	background-color: #18547A;
	width: 350px;
	/*height: 250px;*/
	margin-top: 30px;
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
}
#studies-box{
	background-color: #18547A;
	width: 350px;
	/*height: 250px;*/
	margin-top: 30px;
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
}

.experiences{
	background-color: #023B5E;
	width: 300px;
	/*height: 150px;*/
	margin-top: 5px;
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	
}

.studies{
	background-color: #023B5E;
	width: 300px;
	/*height: 150px;*/
	margin-top: 5px;
	border: 1px solid black;
	margin-left: auto;
	margin-right: auto;
	padding: 10px;
	
}

#footer{
	background-color: #467EA0;
	width: 700px;
	height: 100px;
	margin: auto;
	border: 1px solid black;
	margin-top: 30px;
}